section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}


.footer {
    background: #2b2b2b;
    padding: 60px 60px;

    display: flex;
    justify-content: center;  
    align-items: flex-start;

    gap: 310px;               
    color: #fff;
}

.footer-left {
    max-width: 500px;
    text-align: left;
}

.footer-company {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-text {
    font-size: 14px;
    line-height: 1.4;
    color: #ddd;
    max-width: 460px;
    margin-bottom: 20px;
}

.footer-contacts {
    gap: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer-right {
    min-width: 200px;
    text-align: left;
}

.footer-nav-title {
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 700;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    margin-bottom: 8px;
}

.footer-nav li a {
    color: #dcdcdc;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
}

.footer-nav li a:hover {
    color: #ffffff;
    padding-left: 5px;
}
